<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENABLE_METHODTRACE</key>
	<true/>
	<key>TARGET_CLASS_LIST</key>
	<dict>
		<key>WWKMessage</key>
		<string></string>
		<key>WWKMessageRTXNotify</key>
		<string></string>
		<key>WWKMessageNotify</key>
		<string></string>
		<key>ConversationHelper</key>
		<string></string>
		<key>WAAppMsgItem</key>
		<string></string>
		<key>WWKAppMessageContact</key>
		<string></string>
		<key>WWKConversationViewController</key>
		<string></string>
		<key>WWKMessageListController</key>
		<string></string>
	</dict>
</dict>
</plist>
