#QMEditor {
	padding-left:0px;
	padding-right:0px
}
h1, h2, h3, h4, h5{
    line-height:1.4em;
    margin:0;
    padding:0
    font-weight:normal;
}
h1 {
    font-size:23px;
    margin-bottom: 0.6em;
    font-weight:normal;
}
h2 {
    font-size:20px;
    margin-bottom: 0.6em;
    font-weight:normal;
}
h3 {
    font-size:17px;
    margin-bottom: 0.6em;
    font-weight:normal;
}
h4 {
    font-size:1.06em;
    margin-bottom: 7px;
    font-weight:normal;
}
h5 {
    font-size:1em;
    margin-bottom: 6px;
    font-weight:normal;
}
