<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/wework.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/BeaconAPI_Audit_Dly.framework/SC_Info/BeaconAPI_Audit_Dly.sinf</string>
		<string>Frameworks/BeaconAPI_Base_Dly.framework/SC_Info/BeaconAPI_Base_Dly.sinf</string>
		<string>Frameworks/MMMarkdown.framework/SC_Info/MMMarkdown.sinf</string>
		<string>Frameworks/OpenCV_Dly.framework/SC_Info/OpenCV_Dly.sinf</string>
		<string>Frameworks/QMUIKit.framework/SC_Info/QMUIKit.sinf</string>
		<string>Frameworks/Qbar_Dly.framework/SC_Info/Qbar_Dly.sinf</string>
		<string>Frameworks/TXLiteAVSDK_Smart_WeiXinWork.framework/SC_Info/TXLiteAVSDK_Smart_WeiXinWork.sinf</string>
		<string>Frameworks/VoipSDK.framework/SC_Info/VoipSDK.sinf</string>
		<string>Frameworks/WCDB.framework/SC_Info/WCDB.sinf</string>
		<string>Frameworks/WXCMultiTalkSdk.framework/SC_Info/WXCMultiTalkSdk.sinf</string>
		<string>Frameworks/WXDrawSDKDylibFramework.framework/SC_Info/WXDrawSDKDylibFramework.sinf</string>
		<string>Frameworks/ZipArchive_Dly.framework/SC_Info/ZipArchive_Dly.sinf</string>
		<string>Frameworks/xcast.framework/SC_Info/xcast.sinf</string>
		<string>PlugIns/WXWork.appex/SC_Info/WXWork.sinf</string>
		<string>PlugIns/WeCastExtension.appex/SC_Info/WeCastExtension.sinf</string>
		<string>SC_Info/wework.sinf</string>
	</array>
</dict>
</plist>
